@page
@model WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid justify-content-around">
    <div>
        <h2>Login</h2>

        <form class="form-horizontal p-2" method="post">
            @if (ModelState[string.Empty] != null && ModelState[string.Empty].Errors.Count > 0)
            {
                <div class="text-danger">
                    @foreach (var error in ModelState[string.Empty].Errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            <label asp-for="LoginUser.Email">Email: </label>
            <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
            <br />
            <input asp-for="LoginUser.Email" />
            <br />

            <label asp-for="LoginUser.Password">Password: </label>
            <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
            <br />
            <input asp-for="LoginUser.Password" type="password" />
            <br />
            <br />

            <div class="button_container">
                <input type="submit" value="Login" />
            </div>
        </form>

    </div>
   
</div>
@section scripts {

    <partial name="_ValidationScriptsPartial" />
}