@page
@model IndexModel
@{
    ViewData["Title"] = "Zoo in Eindhoven";
}
<div class="welcome-container">
    <div class="icon">
        <img src="~/Image/RedPandaIcon.jpg" alt="Zoo Icon">
    </div>
    <div class="welcome">
        <p>Welcome, we are glad to see you at the Eindhoven Zoo! Our zoo is home to a diverse range of animals and offers a wonderful experience for visitors of all ages. Come and explore the beauty of wildlife in a serene and family-friendly environment.</p>
    </div>
</div>
<div class="content-container">

    <div class="news">
        <p>News:</p>
        <img src="~/Image/RedPanda.jpg" alt="Red Panda">
        <div class="news-text">
            <p>We are excited to announce the arrival of our newest resident, a charming red panda! This delightful creature is sure to capture your heart with its playful antics and adorable appearance.</p>
            <button>Click here to read more about the last updates</button>
        </div>
    </div>

    <div class="zoo-info">
        <p>Open Days:</p>
        <ul>
            <li>Monday: 9:00 AM - 6:00 PM</li>
            <li>Tuesday: 9:00 AM - 6:00 PM</li>
            <li>Wednesday: 9:00 AM - 6:00 PM</li>
            <li>Thursday: 9:00 AM - 6:00 PM</li>
            <li>Friday: 9:00 AM - 6:00 PM</li>
            <li>Saturday: 10:00 AM - 7:00 PM</li>
            <li>Sunday: 10:00 AM - 7:00 PM</li>
        </ul>
        <p>Location:</p>
        <p>123 Wildlife Avenue, Eindhoven, Netherlands</p>
        <p>
            Contact:
        </p>
        <ul>
            <li>Email: ZooBazaar@gmail.com</li>
            <li>Phone number: +3166237485</li>
        </ul>
    </div>
</div>
